@font-face {
    font-family: Billennium;
    src: url(../fonts/Billennium-Regular.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Billennium;
    src: url(../fonts/Billennium-SemiBold.otf);
    font-style: normal;
    font-weight: bold;
}


* {
    font-family: 'Billennium';
}

/* NavBar */

.navbar {
    background-color: black !important;
}

.active {
    color: #ff5a00 !important;
}

.nav-link {
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.nav-link:hover {
    transition-timing-function: ease-out;
    color: #ff5a00 !important;
}

/* Login SignIn */

.user-section {
    list-style-type: none;
    padding: 0;
}

.white-bg {
    background-color: white !important;
    color: black !important;
    border-radius: 2px;
    transition: 0.3s;
}

.orange-bg {
    background-color: #ff5a00 !important;
    color: black !important;
    border-radius: 2px;
    transition: 0.3s;
}

.white-bg:hover {
    transition-timing-function: ease-out;
    color: #ff5a00 !important;
}

.orange-bg:hover {
    transition-timing-function: ease-out;
    color: white !important;
}

/* Main Header */

.main-header p {
    font-weight: 600;
}

/* Search Form */

.search-input:focus {
    outline: none !important;
    border: 1px solid #ff5a00;
    box-shadow: none;
}

.search-btn {
    background-color: white !important;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.3s;
    border: 1px solid rgb(216, 216, 216);
}

.search-btn:hover {
    transition-timing-function: ease-out;
    background-color: #ff5a00 !important;
    color: hsl(0, 0%, 14%);
    border: 1px solid #ff5a00 !important;
}

.search-btn:focus {
    box-shadow: none;
}

/* Special Offer Container */
.ad {
    border: 3px solid #ff5a00;
    height: auto;
    position: relative;
    background-color: white;
}

.ad img {
    color: black;
    transform: rotate(-45deg);
    text-align: center;
    position: absolute;
    top: -2rem;
    left: -2rem;
}

.ad h2 {
    font-weight: bold;
}

.ad h2 span {
    font-weight: bold;
    background-color: #ff5a00;
}

.ad p {
    text-align: center;
}

.black-box {
    border: 3px solid #000000;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 2rem;
    top: 2rem;
}

/* Footer */

.main-content h5 {
    font-size: 4vw;
}

.main-content a {
    font-size: 4vw;
}

.hr-line--footer {
    border-top: #ff5a00 2px solid;
}

.rights p {
    margin: 0;
}

/* Newsletter */
.newsletter-container {
    display: flex;
    flex-direction: row;
}

.newsletter-info {
    text-align: left;
    width: 300px;
    padding: 70px 50px 70px 50px;
    border: 1px solid #ff5a00;
    border-left: none;
    height: 100%;
}

.btn-orange {
    background-color: #ff5a00;
    border: 1px solid #ff5a00;
    border-radius: 20px;
    padding: 10px;
}

.btn-orange:hover {
    cursor: pointer;
    background-color: #ff5a00;
    border: 1px solid #ff5a00;
    transform: scale(1.05);
}

.bold {
    font-weight: bold;
}

.newsletter-direction {
    display: flex;
    flex-direction: row;
}

.email-input {
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
}

.email-input:focus {
    box-shadow: 0px 2px 0px 0px #ff5a00;
    border-bottom: #ff5a00;
}

.offer-direction{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-title{
    color: gray;
}

.card-text{
    text-align: justify;
}

.card{
    width: 20%;
}


@media screen and (max-width: 700px) {
    .newsletter-direction {
        display: flex;
        flex-direction: column;
    }

    .newsletter-info {
        border-left: 1px solid #ff5a00;
        
    }

}

@media screen and (max-width: 1000px) {
    .offer-direction{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .offer-direction .card{
        width: 50%;
    }
}

